@charset "utf-8";
/* CSS Document */
@charset "utf-8";
/* CSS Document */
@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
ul,ul ol { list-style:none; } 
a {text-decoration:none; }
h2{padding-bottom:18px;font-size:22px;text-align:center;}
h3{padding-bottom:30px;color:#99989d;font-size:12px;text-align:center;}
.hhhs{color:#fff;}
.header,.site,.nav,.content,.partenrs{width:1141px;margin:0 auto;}
#werp-header{height:103px;}
.header{height:103px;}
.header{position:relative;}
.header .logo{width:300px;height:30px;position:absolute;left:0;top:23px;}
.header .hea-nav{position:absolute;right:0;bottom:0;}
.header .hea-nav ul li{display:block;float:left;padding-left:5px;}
.header .hea-nav ul li a{font-size:12px;color:#000;display:block;height:72px;line-height:72px;padding:0 16px 0 11px;}
.header .hea-nav ul li.hea-nav-te{background:#f75a53;}
.header .hea-nav ul li.hea-nav-te a{color:#fff;#f75a53;}
.header .hea-nav ul li:hover{background:#f75a53;}
.header .hea-nav ul li:hover a{color:#fff;background:#f75a53EEE;}

#siteer{height:201px;background:#f75a53 url(../images/asite.jpg);}
#siteer .site{height:201px;padding-top:44px;}
#siteer .site .size{height:71px;line-height:71px;}
#siteer .site .size-1{font-size:24px;color:#fff;}
#siteer .site .size-2{font-size:24px;color:#ffb29b;padding:0 15px;}
#siteer .site .size-3{font-size:18px;color:#ffb29b;}
#siteer .site p{font-size:14px;color:#fff;}
#siteer .site .size-4{color:#ffb29b;}

#naver{height:60px;background:#f7f7f7;}
.nav{height:60px;}
.nav a{float:right;padding:24px 14px;color:#656565;}

.content{padding:91px 0 115px 0;}
.content img{padding-right:22px;padding-bottom:30px;border:0;}
.content img.conz{padding-right:1px;}
#werp-footer{padding:30px 0 38px 0;background:#363636;color:#717171;text-align:center;}
#werp-footer ul{overflow:hidden;width:574px;margin:0 auto;}
#werp-footer ul li{float:left;}
#werp-footer ul li a{display:block;font-size:12px;color:#717171;padding:0 12px; 0 10px;background:url(../images/foot.gif) no-repeat top right;}
#werp-footer ul li a.foot-z1{background:none;padding-right:10px;}
#werp-footer p{padding-top:17px;}


